<div class="container-fluid m-0 text-center">
    <div class="row justify-content-end py-3 header">
        <div class="col-lg-4 col-md col-sm-12">
            <img class="logo my-auto" src="../assets/Logo and text.png" />
        </div>
        <div class="col-lg-4 col-md col-sm-12 contact">
            <div class="row ml-3">
                <i class="material-icons col-1 text-center">call</i>
                <p class="col text-left">(+27)82 689 6355</p>
            </div>
            <div class="row ml-3">
                <i class="material-icons col-1 text-center">email</i>
                <p class="col text-left"><a href="mailto:niki.friderichs@gmail.com">niki.friderichs@gmail.com</a></p>
            </div>
        </div>
    </div>
    <h1 class="mt-4">Who are we</h1>
    <p class="mx-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a nibh quis ligula sollicitudin facilisis. Praesent est purus, eleifend vel tincidunt quis, pulvinar at lectus. Proin ac interdum erat, id mattis neque. Donec euismod enim egestas neque
        scelerisque, vitae posuere orci fermentum. Sed vehicula nisi eu urna sodales blandit. Proin odio tellus, fringilla a tincidunt non, varius feugiat massa. Mauris rutrum lorem dolor, vitae porta tellus congue fringilla. Nam eget metus nec purus
        viverra sagittis et eu dui. Vestibulum dignissim, arcu tincidunt condimentum rhoncus, ante orci malesuada velit, id ultricies justo elit sit amet risus. Mauris tempus quis arcu id volutpat. Nam ut tristique metus.
    </p>
    <div class="my-5 container-fluid row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <lib-ngx-responsive-embed class="ratio-16by9 mx-auto">
                <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
            </lib-ngx-responsive-embed>
        </div>
    </div>
</div>