<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav bg-dark" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary" class="home" routerLink="/home">
            <img src="../../assets//Weev Logo.png" alt="Logo" class="img-fluid w-75 mx-auto">
        </mat-toolbar>
        <div>
            <div *ngFor="let filter of db.filters | async">
                <a class="w-100 link" mat-button color="accent" routerLink="/filtered-content">
                    <div class="my-2 text-left px-4">{{filter.name | uppercase}}</div>
                </a>
            </div>
            <a class="w-100 link" mat-button color="accent" routerLink=".">
                <div class="my-2 text-left px-4">WEEV YOUR STORY</div>
            </a>
            <a class="w-100 link" mat-button color="accent" routerLink="/about">
                <div class="my-2 text-left px-4">ABOUT</div>
            </a>
            <a class="w-100 link" mat-button color="accent" routerLink="/coming-soon">
                <div class="my-2 text-left px-4">FAVOURITES</div>
            </a>
            <a class="w-100 link" mat-button color="accent" routerLink="/coming-soon">
                <div class="my-2 text-left px-4">WATCH LATER</div>
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <mat-form-field class="w-75 mx-auto" [floatLabel]="'never'" color="accent">
                <input type="text" placeholder="Search..." aria-label="Number" matInput [formControl]="searchFormControl"
                    [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>