<div class="container-fluid m-0 text-center">
  <h1 class="mt-4">Who Weev are</h1>
  <p class="mx-5">
      We are where you have been. We too have seen the daunting road ahead of us and been down its long and windy path. Weev are here for you. As young, African women, we stand together, arm in arm, a united tribe of knowledge, comfort and guidance. Weev are
      powerful female souls that draw from each other’s learnings and teachings and guide our young girls through the minefields of life. Weev are here to open your world to countless powerful, successful women that have forged paths ahead of you so
      that you can walk them more easily. Weev are here to empower you through educational content and focused career guidance. Weev are here to open the doors to you; doors of opportunity and connections. Alone, the path is challenging but together,
      weev can walk alongside you.
  </p>
  <div class="my-5 container-fluid row justify-content-center">
      <div class="col-md-6 col-sm-12">
          <lib-ngx-responsive-embed class="ratio-16by9 mx-auto">
              <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
          </lib-ngx-responsive-embed>
      </div>
  </div>
</div>